.categories {
  margin-bottom: 20px;
  
}
.categories__title {
  font-weight: 300;
  font-size: 20px;
  padding: 0 0 10px 0; 
}
.category {
    border: 1px solid #fff;
    padding: 10px;
    box-sizing: border-box; 
    transition: all 0.5s;
    text-decoration: none;
     
}
.category:hover {
  border-color: rgba(0,0,0,.12);
  cursor: pointer;
}
.category__img {
    width: 100%;

}

.category__name {
  margin-bottom: 0;
  color: var(--text-color);
  text-align: center;
}